{% extends "WareDGT/base.html" %}
{% load static %}
{% block title %}Set Your Password{% endblock %}
{% block extra_css %}
  <link href="{% static 'WareDGT/css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="login-container">
  <img src="{% static 'WareDGT/images/logo.png' %}" alt="ThermoFam Logo" class="login-logo" />
  <form method="post">
    {% csrf_token %}
    <h2>Set Password</h2>
    {{ form.non_field_errors }}
    {{ form.new_password1.errors }}
    <input type="password" name="new_password1" id="id_new_password1" placeholder="New password" required>
    {{ form.new_password2.errors }}
    <input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm new password" required>
    <button type="submit">Set Password</button>
  </form>
  <div class="auth-footer">
    <a href="{% url 'login' %}">Back to Login</a>
  </div>
</div>
{% endblock %}
{% block extra_js %}
  <script src="{% static 'WareDGT/js/login.js' %}"></script>
{% endblock %}
