{% extends "WareDGT/base.html" %}
{% load static %}
{% block title %}Password Set{% endblock %}
{% block extra_css %}
  <link href="{% static 'WareDGT/css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="login-container">
  <img src="{% static 'WareDGT/images/logo.png' %}" alt="ThermoFam Logo" class="login-logo" />
  <h2>Password Updated</h2>
  <p>Your password has been set successfully.</p>
  <a href="{% url 'login' %}"><button type="button">Go to Login</button></a>
</div>
{% endblock %}
{% block extra_js %}
  <script src="{% static 'WareDGT/js/login.js' %}"></script>
{% endblock %}
