{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Password Set</title>
  <link rel="stylesheet" href="{% static 'WareDGT/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'WareDGT/css/password-setup.css' %}">
</head>
<body>
  <div class="pw-setup-container">
    <h2>Password Updated</h2>
    <p>Your password has been set. You may now <a href="{% url 'login' %}">log in</a>.</p>
  </div>
<!DOCTYPE html>
<html>
<head>
  <title>Password Set</title>
</head>
<body>
<p>Your password has been set. You may now <a href="{% url 'login' %}">log in</a>.</p>
</body>
</html>
