{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="form-container">
  <h2>{{ form.instance.pk|yesno:"Update Truck,Register Truck" }}</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next|default:request.META.HTTP_REFERER }}">
    {{ form.non_field_errors }}

    <div class="form-group">
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="error-message">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <div class="form-actions">
      <button type="submit" class="cta-button">Save</button>
      <a href="{% url 'truck-list' %}" class="cancel-button">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
